/* Base */

body {
    background: #2e323c;
}

/* Left Menu-bar */

#side_bar ol li .left_row {
    color: #c5c1c1;
}

.left_fixer:hover {
    background: #262931;
}

/* The message counter */

.left_count_wrap:hover {
    border: 0px;
}

.left_count_wrap {
    background: #21c52f;
    color: #ffffff;
}

/* Chat Tab */

.chat_onl_inner {
    background-color: #26282c;
}

.chat_tab_wrap:hover {
    background-color: #1b1d21;
}

/* Disable Circle Radius*/

.chat_tab_img {
    border-radius: 5%;
}

.module_body .people_cell_img {
    border-radius: 5%;
}

.nim-peer .nim-peer--photo-w {
    border-radius: 5%;
}

.nim-peer img {
    border-radius: 5%;
}

.page_block {
    border-radius: 3px;
}

.page_list_module .cell_img {
    border-radius: 5%;
}

.page_list_module .thumb {
    border-radius: 5%;
}

.post_field_user_image {
    border-radius: 5%;
}

.post_img {
    border-radius: 5%;
}

.wall_module .reply_img {
    border-radius: 5%;
}

input.text.ts_input {
    border-radius: 3px;
}

.friends_photo_wrap img {
    border-radius: 5%;
}

.right_list_img {
    border-radius: 5%;
}

.top_profile_img {
    border-radius: 3px;
}

.audio_owner_avatar {
    border-radius: 5%;
}

.ow_ava.ow_ava_small {
    border-radius: 5%;
}

.group_row_photo, .group_row_img {
    border-radius: 5%;
}

.search_item_img {
    border-radius: 5%;
}

.group_friends_image {
    border-radius: 5%;
}

.fave_link_thumb {
    border-radius: 5%;
}

.ts_contact_img {
    border-radius: 5%;
}

.wall_module .copy_post_img {
    border-radius: 5px;
}

.top_notify_cont .feedback_img {
    border-radius: 5%;
}

.audio_page_player_play .icon {
    border-radius: 5%;
}

.mv_author_photo {
    border-radius: 5%;
}

.market_item_owner_img {
    border-radius: 5%;
}

/* Others */

#stl_bg {
    background-color: #26282c;
}

